<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>view: {{ page }}</title>
    <style>

    </style>
</head>
<body>
    <div class="container" style="margin-top: 20px;">
        <div class="card">
            <div class="card-header">
                {% block cardname %}
                {% endblock %}
            </div>
            <div class="card-body">
                <div class="{{ contes }}" style="{{ status }}">
                    {% block status %}
                    {% endblock %}
                </div>
                {% block card-body %}
                {% endblock %}
                <div class="btn btn-light" style="{{ select }}">
                    {% block button %}
                    {% endblock %}
                </div>
                <div class="btn btn-light">
                    <a href="{% url 'encyclopedia:index' %}">Go Back</a>
                </div>
            
            </div>
        </div>
    </div>
</body>
</html>