{% extends 'files/zoo.html' %}
{% block cardname %}
    Create New Entry
{% endblock %}
{% block status %}
    {{ message }}
{% endblock %}

{% block card-body %}

    <form action="" method="POST" id="userform">
        {% csrf_token %}
<tr><th><label for="id_title">Title:</label></th><td><input type="text" name="title" class="container-fluid" value="" required id="id_title", placeholder="Title"></td></tr>
<tr><th><label for="id_content">Content:</label></th><td><textarea name="content" cols="40" rows="10" class="container-fluid" value="" required id="id_content">Content (Markdown)
</textarea></td></tr>
       <input type="submit" class="btn btn-primary" value="Add Entry"><br><br>
    </form> 

{% endblock %}
